// Importing whole kernel
// * const values(like z-indexes gradation, grid consts, colors etc)
// * mixins
// * reseted some styles
// * nested classes for effects, grid, etc
// ----------------------
@import "./kernel/all";

// Scrollbar styles
@import "~vue2-scrollbar/dist/style/vue2-scrollbar.css";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// Datetime picker
@import '~bootstrap/dist/css/bootstrap.css';
@import '~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

.sidebar__scrollbar {
  margin-top: 20px;
  max-height: calc(100% - 151px);
}

.tables__container {
  width: 70%;
  margin: 30px auto;
}

.date__container {
    width: auto;
    margin: 0 10px;
}

.content__title {
  margin-top: 50px;
}

//.thead-active, .table-active, .bg-active {
//  background-color: aqua !important;
//}

