$color-5d6479: rgb(93, 100, 121);
$color-b3b3b3: rgb(179, 179, 179);
$color-e6e6e6: rgb(230, 230, 230);
$color-6cc04a: rgb(108, 192, 74);
$color-6caa64: rgb(108, 170, 100);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);